// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.hover {
    transition: all 0.2s ease-in-out;
}
.hover:hover {
    transform: scale(1.1);
}

.hover:after {
    content: "";
    height: 2px;
    width: 0px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    transition: 0.5s;
}
.hover:hover:after {
    width: 160px;
    left: 0%;
}
